@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes lineGrow {
  0% {
    width: 0;
    opacity: 0;
  }
  100% {
    width: 80px;
    opacity: 1;
  }
}

.animate-fadeUp {
  animation: fadeUp 0.9s ease forwards;
}

.animate-lineGrow {
  animation: lineGrow 0.8s ease forwards;
}

.delay-100 {
  animation-delay: 0.1s;
}
.delay-200 {
  animation-delay: 0.2s;
}
.delay-300 {
  animation-delay: 0.3s;
}
.shape-wrapper {
  width: 380px;
  height: 460px;
  background: white;
  padding: 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.15);
}

.shape-img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  clip-path: ellipse(48% 60% at 50% 50%);
}